:root {
--text-primary-dark: #444444;
--text-secondary-dark: #666666;
--text-tertiary-dark: #888888;
--text-primary-light: white;
--text-secondary-light: rgba(255, 255, 255, 0.8);
--text-tertiary-light: #999999;
--text-tooltip: #eeeeee;
--error-color: #ba2453;
--link-color-dark: #079bb3;
--link-color-light: white;
--alert-bg: #fde86a;
--alert-bg-error: #d32781;
--warning-bg: #ef6c2a;
--account-info: #a2b00c;
--button-bg-primary: #079bb3;
--button-bg-secondary: #a2b00c;
--button-bg-destructive: #d32781;
--sidebar-bg: #333333;
--sidebar-hover: #484848;
--sidebar-selected: black;
--border-color: #dddddd;
--input-border: #aaaaaa;
--input-border-disabled: #cccccc;
--input-border-hover: #999999;
--input-border-focus: #777777;
--highlight-primary: #dcf3fb;
--highlight-secondary: #effbff;
--page-header-bg: #079bb3;
--panel-header-bg: #f4f4f4;
--table-header-bg: #f4f4f4;
--white: white;
--black: black;
--gray-10: #f4f4f4;
--gray-15: #eeeeee;
--gray-20: #dddddd;
--gray-30: #cccccc;
--gray-35: #aaaaaa;
--gray-40: #999999;
--gray-50: #888888;
--gray-55: #777777;
--gray-60: #666666;
--gray-70: #484848;
--gray-80: #444444;
--gray-90: #333333;
--white-partial-opacity: rgba(255, 255, 255, 0.8);
--blue-lightest: #effbff;
--blue-light: #dcf3fb;
--teal: #079bb3;
--teal-light: #06b0cc;
--pink: #d32781;
--pink-light: #f3d7e6;
--magenta: #ba2453;
--yellow-light: #fdf0c0;
--gold: #fde86a;
--orange: #ef6c2a;
--green: #a2b00c;
}